<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <% var document = data.document; %>

    <h2 class="sub-header">
        <% if (data.do == 'create') { %>
        新建文档
        <% } else if (data.do == 'edit') { %>
        编辑文档
        <% } else { %>
        文档详情
        <% } %>
    </h2>

    <% if (data.do != 'create') { %>
    <ol class="breadcrumb">
        <li><a href="/dashboard/documents">所有文档</a></li>
        <li class="active"><%= document.class %></li>
        <li class="active"><%= document.subclass %></li>
    </ol>
    <% } %>

    <% if (data.do == 'create') { %>
    <div class="panel-heading">
        <input type="text" class="form-control" placeholder="标题">
    </div>
    <div class="panel-body">
        <textarea class="form-control" rows="13" placeholder="正文"></textarea>
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="category-input">分类&nbsp;&nbsp;</label>
                <select id="category-input" class="form-control class-select">
                    <option>军事训练</option>
                    <option>教育管理</option>
                    <option>国防动员</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control subclass-select">
                    <option data-index="0">通知计划</option>
                    <option data-index="1">训练法规</option>
                    <option data-index="2">资料查询</option>
                    <option data-index="3">训练考核</option>
                </select>
            </div>
        </form>
    </div>

    <% } else if (data.do == 'edit') { %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <input type="text" class="form-control" value="<%= document.title %>">
        </div>
        <div class="panel-body">
            <textarea class="form-control" rows="13">
                <%= document.text %>
            </textarea>
        </div>
    </div>

    <% } else { %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><%= document.title %></h3>
        </div>
        <div class="panel-body">
            <% var paragraphs = document.text.split('\n'); %>
            <% for (var p of paragraphs) { %>
            <p style="text-indent: 2em"><%= p %></p>
            <% } %>
        </div>
    </div>

    <% } %>


    <a name="alert"></a>
    <% if (data.do == 'remove') { %>
    <div class="alert alert-danger" role="alert">确定要删除该情报吗？</div>
    <% } else if (data.do == 'removed') { %>
    <div class="alert alert-success" role="alert">情报已删除</div>
    <% } %>

    <% if (data.do == 'create') { %>
    <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-primary"
                    onclick="alert('submitting!');">新建
            </button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default"
                    onclick="">取消
            </button>
        </div>
    </div>

    <% } else if (data.do == 'edit') { %>
    <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-primary"
                    onclick="alert('submitting!');">修改
            </button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default"
                    onclick="defender.document('<%= document.id %>').view();">取消
            </button>
        </div>
    </div>

    <% } else if (data.do == 'remove') { %>
    <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-danger"
                    onclick="defender.document('<%= document.id %>').removed();">确认删除
            </button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default"
                    onclick="defender.document('<%= document.id %>').view();">取消
            </button>
        </div>
    </div>

    <% } else if (data.do == 'removed') { %>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default"
                onclick="defender.documents.view();">返回
        </button>
    </div>

    <% } else { %>
    <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default"
                    onclick="defender.document('<%= document.id %>').edit();">编辑
            </button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-danger"
                    onclick="defender.document('<%= document.id %>').remove();">删除
            </button>
        </div>
    </div>
    <% } %>


</div>

<script>
    $(".class-select").click(function () {
        var class_text = $(this).val();
        $(".subclass-select").find("option").map(function () {
            var index = $(this).data("index");
            $(this).text(defender.documents.class[class_text][index]);
        });
    });

</script>