<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <% var info = data.information; %>

    <h2 class="sub-header">情报详情</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>发布人</th>
                <th>优先级</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><%= info.publisher.name %></td>
                <td>
                <% if (info.urgent) { %>
                紧急
                <% } else { %>
                普通
                <% } %>
                </td>
                <td><%= info.updated_time.toLocaleString() %></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">内容</h3>
        </div>
        <div class="panel-body">
            <%= info.text %>
        </div>
        <% if (info.images.length > 0) { %>
        <div class="panel-body">
            <img src="http://s2.cn.bing.net/th?id=OJ.8OrhgbJMbE3hPg&pid=MSNJVFeeds" class="img-responsive img-thumbnail" alt="Responsive image">
        </div>
        <% } %>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">回复</h3>
        </div>
        <% if (info.replications.length > 0) { %>
        <ul class="list-group">
            <%
            for (var ii = 0; ii < info.replications.length; ii++) {
                var replication = info.replications[ii];
            %>
            <li class="list-group-item">
                <h4 class="list-group-item-heading">#<%= ii + 1 %>&nbsp;<%= replication.replier.name %></h4>
                <p class="list-group-item-text"><%= replication.content %></p>
            </li>
            <% } %>
        </ul>
        <% } else { %>
        <div class="panel-body">
             暂无回复
        </div>
        <% } %>

    </div>

    <a name="alert"></a>
    <% if (data.do == 'remove') { %>
    <div class="alert alert-danger" role="alert">确定要删除该情报吗？</div>
    <% } else if (data.do == 'removed') { %>
    <div class="alert alert-success" role="alert">情报已删除</div>
    <% } %>

    <% if (data.do == 'create') { %>
    <% } else if (data.do == 'remove') { %>
    <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-danger"
                    onclick="defender.information('<%= info.id %>').removed();">确认删除
            </button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default"
                    onclick="defender.information('<%= info.id %>').view();">取消
            </button>
        </div>
    </div>
    <% } else if (data.do == 'removed') { %>
    <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default"
                    onclick="defender.informations.view();">返回</button>
        </div>
    </div>
    <% } else { %>
    <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-danger"
                    onclick="defender.information('<%= info.id %>').remove();">删除</button>
        </div>
    </div>
    <% } %>


</div>