<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <%
    var user = data.user;
        console.log(data.do);
    %>

    <h2 class="sub-header">
        <% if (data.do == 'create') { %>
        新增用户
        <% } else if (data.do == 'edit') { %>
        编辑用户
        <% } else { %>
        <%= user.name %>
        <% } %>
    </h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>姓名</th>
                <th>级别</th>
                <th>区域</th>
                <th>描述</th>
                <th>电话</th>
            </tr>
            </thead>
            <tbody>
            <%
            var attr_names = ['id', 'name', 'level', 'region', 'description', 'phone'];
            if (data.do == 'create') {
            %>
            <tr>
                <%
                for (var _ of attr_names) {
                %>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control">
                    </div>
                </td>
                <% } %>
            </tr>
            <% } else if (data.do == 'edit') { %>
            <tr>
                <%
                for (var attr_name of attr_names) {
                    var attr = user[attr_name];
                %>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control" <% if (attr_name == 'id') { %> readonly <% } %> placeholder="<%= attr %>">
                    </div>
                </td>
                <% } %>
            </tr>
            <% } else { %>
            <tr>
                <%
                for (var attr_name of attr_names) {
                    var attr = user[attr_name];
                %>
                <td><%= attr %></td>
                <% } %>
            </tr>
            <% } %>
            </tbody>
        </table>

        <% if (data.do == 'remove') { %>
        <div class="alert alert-danger" role="alert">确定要删除该用户吗？</div>
        <% } else if (data.do == 'removed') { %>
        <div class="alert alert-success" role="alert">用户已删除</div>
        <% } %>

        <% if (data.do == 'create') { %>
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary"
                        onclick="alert('submitting!');">新建
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"
                        onclick="defender.users.view();">取消
                </button>
            </div>
        </div>

        <% } else if (data.do == 'edit') { %>
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary"
                        onclick="alert('submitting!');">修改
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"
                        onclick="defender.user('<%= user.id %>').view();">取消
                </button>
            </div>
        </div>

        <% } else if (data.do == 'remove') { %>
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-danger"
                        onclick="defender.user('<%= user.id %>').removed();">删除
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"
                        onclick="defender.user('<%= user.id %>').view();">取消
                </button>
            </div>
        </div>

        <% } else if (data.do == 'removed') { %>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default"
                    onclick="defender.users.view();">返回
            </button>
        </div>

        <% } else { %>
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"
                        <% if (user.id == 'admin') { %>
                        disabled="disabled"
                        <% } %>
                        id="user-<%= user.id %>-btn-edit"
                        onclick="defender.user('<%= user.id %>').edit();">编辑
                </button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-danger"
                        <% if (user.id == 'admin') { %>
                        disabled="disabled"
                        <% } %>
                        onclick="defender.user('<%= user.id %>').remove();">删除
                </button>
            </div>
        </div>
        <% } %>
    </div>

</div>